<h1>マイページ</h1>
    
<h3 class="mypage-showh3">登録情報</h3>
  <%= link_to "編集する", edit_customer_path,  class: "btn btn-outline-success" %>

<div id="mypage-showtable">
<table class="table table-responsive">
  <tbody>
<tr><th>氏名</th><td><%= @customer.last_name %> <%= @customer.first_name %></td></tr>
<tr><th>カナ</th><td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td></tr>
<tr><th>郵便番号</th><td><%= @customer.post_code %></td></tr>
<tr><th>住所</th><td><%= @customer.address %></td></tr>
<tr><th>電話番号</th><td><%= @customer.phone_number %></td></tr>
<tr><th>メアド</th><td><%= @customer.email %></td></tr>
</tbody>
</table>
</div>



      <h3 class="mypage-showh3">配送先</h3>
        <%= link_to "一覧を見る", addresses_path,  class: "btn btn-outline-primary test" %>
</br>
      <h3 class="mypage-showh3">注文履歴</h3>
        <%= link_to "一覧を見る", orders_path,  class: "btn btn-outline-primary test" %>
