<h1>マイページ</h1>

<div class="container">
  <div class="main">
    <div class="d-flex flex-row">
      <div class="p-2 bd-highlight"><%= link_to "登録情報編集", edit_customer_path, class:"btn btn-outline-success" %></div>
      <div class="p-2 bd-highlight"><%= link_to "配送先一覧を見る", addresses_path,  class: "btn btn-outline-primary test" %></div>
      <div class="p-2 bd-highlight"><%= link_to "注文履歴一覧を見る", orders_path,  class: "btn btn-outline-primary test" %></div>
    </div>
    
<table align="center" class="table table-bordered border-warning border-4 w-0 p-3">
<tbody>
<tr><th>氏名</th><td><%= @customer.last_name %> <%= @customer.first_name %></td></tr>
<tr><th>カナ</th><td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td></tr>
<tr><th>郵便番号</th><td><%= @customer.post_code %></td></tr>
<tr><th>住所</th><td><%= @customer.address %></td></tr>
<tr><th>電話番号</th><td><%= @customer.phone_number %></td></tr>
<tr><th>メアド</th><td><%= @customer.email %></td></tr>
</tbody>
</table>
</div>
</div>