<!--admin/new、editのform_with部分テンプレート-->
<%= form_with model: @item, url: admin_items_path, method: :post, local:true do |f| %>
  <h4>商品画像</h4>
  <%= f.attachment_field :image %>
  <div class = "form-group">
   <h4>商品名</h4>
   <%= f.text_field :item_name, class: 'form-control' %>
  </div>
  <div class = "form-group">
   <h4>商品説明</h4>
   <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class = "form-group">
   <h4>ジャンル</h4>
   <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: "--選択して下さい--", class: 'form-control'  %>
  </div>
   <div class = "form-group">
   <h4>税抜価格</h4>
    <%= f.text_field :price_without_tax, class: 'form-control' %><span>円</span>

  </div>
   <div class = "form-group">
   <h4>販売ステータス</h4>
   <%= f.label :sales_status, '販売中' %>
   <%= f.radio_button :sales_status, 'true' %>
   <%= f.label :sales_status, '販売停止中' %>
   <%= f.radio_button :sales_status, 'false' %>
  </div>
  
    <% if item.new_record? %>
      <%= f.submit "新規登録", class: "btn btn-primary" %>
    <% else %>
      <%= f.submit "変更を保存", class: "btn btn-primary" %>
    <% end %>

<% end %>
