<div class = "col-xs-12 offset-md-1">
  <h3>ショッピングカート</h3>
  <span>
  <%= link_to "カートを空にする", cart_item_destroy_all_path, method: :delete, "data-confirm" => "カートを空にしてもよろしいですか？", local: true, class: "btn btn-danger" %>
  </span>

  <table class="table table-bordered col-xs-10" >
    <thred>
      <tr>
        <th class="col-xs-3">商品名</th>
        <th class="col-xs-2">単価（税込）</th>
        <th class="col-xs-2">数量</th>
        <th class="col-xs-2">小計</th>
        <th class="col-xs-2"></th>
      </tr>
    </thred>
     <tr>
      <% @cart_items.each do |cart_item| %>
       <td class="col-xs-3"><%#= cart_item.item.name %></td>
       <td class="col-xs-2"><%= (cart_item.item.price_without_tax * 1.10).round.to_s(:dalimited) %></td>
       <td class="col-xs-2">
        <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
          <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10], include_blank: "個数選択" %>
          <%= f.submit "変更", class: "btn btn-success" %>
        <% end %>
       </td>
       <td class="col-xs-2"><%= (cart_item.item.add_tax_price_without_tax * cart_item.quantity).to_s(:dalimited) %></td>
       <td class="col-xs-2"><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, "data-confirm" => "削除してもよろしいですか？", local: true, class: "btn btn-danger" %></td>
     </tr>
      <% end %>
  </table>


    <div class="col-xs-8">
      <span><%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %></span>
    </div>
    <div class="col-xs-4">
      <table class="table table-bordered">
       <tr>
         <td class ="cols-xs-1">合計金額</td>
         <td class ="cols-xs-1"><%#= current_customer.cart_items_sum.to_s(:dalimited) %></td>

         <!--<td class ="cols-xs-1">-->
         <!-- <%# @sum = 0 %>-->
         <!-- <%# @cart_items.each do |cart_item| %>-->
         <!--  <%# price = (cart_item.item.add_tax_price_without_tax * cart_item.quantity).to_s(:dalimited) %>-->
         <!--  <%#= sum = @sum + price %>-->
         <!-- <%# end %>-->
         <!--</td>-->
       </tr>
      </table>
    </div>

    <div class = "col-xs-4 col-xs-offset-4">
      <span><%= link_to "情報入力に進む", new_order_path, local: true, class: "btn btn-success" %></span>
    </div>
</div>