<div class="container">
  <div class="row">
    <div class="mx-auto col">
      <h1>注文情報入力</h1>
      <%= form_with model: @order, method: :post, url: order_confirm_path, local:true do |f| %>
      <%#= form_with(model: post, local: true, url: {action: 'confirm'}) do |f|%>
      <div class="field">
        <span class="payment_method_title">支払い方法</span><br>
        <div class="radio-inline pl-3">
          <%= f.radio_button :payment_method, :クレジットカード, checked: "checked" %>
          <%= f.label :クレジットカード, class: "payment_method_label" %>
        </div>
        <div class="radio-inline pl-3">
          <%= f.radio_button :payment_method, :銀行振込, checked: "checked"%>
          <%= f.label :銀行振込, class: "payment_method_label" %>
        </div>
      </div>
      <div class="field">
        <span class="address_title">お届け先</span><br>
        <div class="radio-inline pl-3">
          <%= f.radio_button :address_option, 0, checked: "checked" %>
          <%= f.label :ご自身の住所, class: "address_label" %></br>
          <div class="pl-3">
            〒<%= current_customer.post_code %>
            <%= current_customer.address %>
            </br>
            <%= current_customer.last_name %> 
            <%= current_customer.first_name %>
          </div>
        </div>
        <div class="radio-inline pl-3">
          <%= f.radio_button :address_option, 1, checked: "checked" %>
          <%= f.label :登録先住所から選択, class: "address_label" %></br>
          <div class="pl-3">
            <%= f.collection_select :address_id , current_customer.addresses, :id, :order_address  %>  
          </div>
        </div>
        <div class="radio-inline pl-3">
          <%#= f.radio_button :address_option, 2, checked: "checked" %>
          <%= f.label :新しいお届け先, class: "address_label" %>
          </br>
          <div class="pl-3">
            <%= f.label :post_code, "郵便番号" %>  
            <%= f.text_field :new_post_code %>
            </br>
            <%= f.label :address, "住所" %>  
            <%= f.text_field :new_address %>  
            </br>
            <%= f.label :name, "宛名" %>  
            <%= f.text_field :new_name %>  
          </div>
        </div>
      </div>
      <%= f.submit "確認画面へ進む" %>
      <% end %>
    </div>
  </div>
</div>